{
  "smithy": "2.0",
  "metadata": {
    "alloySimpleRestJsonBorrowedTests": {
      "aws.protocols#restJson1": {
        "allowList": [
          {
            "id": "RestJsonNoInputAndNoOutput"
          },
          {
            "id": "RestJsonAllQueryStringTypes"
          },
          {
            "id": "RestJsonSupportsNegativeInfinityFloatQueryValues"
          },
          {
            "id": "RestJsonOmitsEmptyListQueryValues"
          },
          {
            "id": "RestJsonQueryIdempotencyTokenAutoFill"
          },
          {
            "id": "HttpPrefixHeadersResponse"
          },
          {
            "id": "RestJsonServersQueryParamsStringListMap"
          },
          {
            "id": "RestJsonServersPutAllQueryParamsInMap"
          },
          {
            "id": "RestJsonQueryPrecedence"
          },
          {
            "id": "RestJsonNoInputAndOutputWithJson"
          },
          {
            "id": "RestJsonUnitInputAndOutputNoOutput"
          },
          {
            "id": "RestJsonEmptyInputAndEmptyOutput"
          },
          {
            "id": "RestJsonNoInputAndOutputNoPayload"
          },
          {
            "id": "RestJsonEmptyInputAndEmptyOutputJsonObjectOutput"
          },
          {
            "id": "RestJsonNoInputAndOutput"
          },
          {
            "id": "RestJsonUnitInputAndOutput"
          },
          {
            "id": "RestJsonHttpRequestWithGreedyLabelInPath"
          },
          {
            "id": "RestJsonToleratesRegexCharsInSegments"
          },
          {
            "id": "RestJsonTimestampFormatHeaders"
          },
          {
            "id": "RestJsonQueryStringEscaping"
          },
          {
            "id": "RestJsonQueryStringMap"
          },
          {
            "id": "RestJsonConstantAndVariableQueryStringMissingOneValue"
          },
          {
            "id": "RestJsonConstantQueryString"
          },
          {
            "id": "RestJsonConstantAndVariableQueryStringAllValues"
          },
          {
            "id": "RestJsonIgnoreQueryParamsInResponse"
          },
          {
            "id": "RestJsonOmitsNullQuery"
          },
          {
            "id": "RestJsonSerializesEmptyQueryValue"
          },
          {
            "id": "RestJsonHttpPrefixHeadersArePresent"
          },
          {
            "id": "RestJsonQueryParamsStringListMap"
          },
          {
            "id": "RestJsonHttpPrefixHeadersAreNotPresent"
          },
          {
            "id": "RestJsonDoesntSerializeNullStructureValues"
          },
          {
            "id": "RestJsonDoesntDeserializeNullStructureValues"
          },
          {
            "id": "RestJsonSimpleScalarProperties"
          },
          {
            "id": "RestJsonJsonTimestampsWithDateTimeOnTargetFormat"
          },
          {
            "id": "RestJsonJsonTimestampsWithEpochSecondsFormat"
          },
          {
            "id": "RestJsonJsonTimestampsWithDateTimeFormat"
          },
          {
            "id": "RestJsonJsonTimestampsWithEpochSecondsOnTargetFormat"
          },
          {
            "id": "RestJsonJsonTimestampsWithHttpDateOnTargetFormat"
          },
          {
            "id": "RestJsonJsonTimestampsWithHttpDateFormat"
          },
          {
            "id": "RestJsonRecursiveShapes"
          },
          {
            "id": "RestJsonJsonIntEnums"
          },
          {
            "id": "RestJsonJsonEnums"
          },
          {
            "id": "RestJsonLists"
          },
          {
            "id": "RestJsonListsEmpty"
          },
          {
            "id": "RestJsonDeserializesZeroValuesInMaps"
          },
          {
            "id": "RestJsonSerializesDenseSetMap"
          },
          {
            "id": "RestJsonJsonMaps"
          },
          {
            "id": "RestJsonDeserializesSparseSetMap"
          },
          {
            "id": "RestJsonSerializesSparseSetMap"
          },
          {
            "id": "RestJsonSerializesZeroValuesInMaps"
          },
          {
            "id": "RestJsonDeserializesDenseSetMap"
          },
          {
            "id": "DocumentTypeInputWithObject"
          },
          {
            "id": "DocumentInputWithString"
          },
          {
            "id": "DocumentInputWithNumber"
          },
          {
            "id": "DocumentOutputBoolean"
          },
          {
            "id": "DocumentOutputNumber"
          },
          {
            "id": "DocumentTypeAsPayloadInput"
          },
          {
            "id": "DocumentInputWithList"
          },
          {
            "id": "DocumentOutputString"
          },
          {
            "id": "DocumentOutput"
          },
          {
            "id": "DocumentOutputArray"
          },
          {
            "id": "DocumentTypeAsPayloadInputString"
          },
          {
            "id": "DocumentInputWithBoolean"
          },
          {
            "id": "DocumentTypeAsPayloadOutput"
          },
          {
            "id": "DocumentTypeAsPayloadOutputString"
          },
          {
            "id": "RestJsonSerializeNumberUnionValue"
          },
          {
            "id": "RestJsonSerializeListUnionValue"
          },
          {
            "id": "RestJsonSerializeBooleanUnionValue"
          },
          {
            "id": "RestJsonSerializeStringUnionValue"
          },
          {
            "id": "RestJsonSerializeStructureUnionValue"
          },
          {
            "id": "RestJsonSerializeEnumUnionValue"
          },
          {
            "id": "RestJsonSerializeMapUnionValue"
          },
          {
            "id": "RestJsonDeserializeListUnionValue"
          },
          {
            "id": "RestJsonDeserializeMapUnionValue"
          },
          {
            "id": "RestJsonDeserializeNumberUnionValue"
          },
          {
            "id": "RestJsonDeserializeStructureUnionValue"
          },
          {
            "id": "RestJsonDeserializeBooleanUnionValue"
          },
          {
            "id": "RestJsonDeserializeStringUnionValue"
          },
          {
            "id": "RestJsonDeserializeEnumUnionValue"
          },
          {
            "id": "PostUnionWithJsonNameRequest1"
          },
          {
            "id": "PostUnionWithJsonNameRequest3"
          },
          {
            "id": "RestJsonInputUnionWithUnitMember"
          },
          {
            "id": "PostUnionWithJsonNameRequest2"
          },
          {
            "id": "RestJsonOutputUnionWithUnitMember"
          },
          {
            "id": "PostUnionWithJsonNameResponse1"
          },
          {
            "id": "PostUnionWithJsonNameResponse2"
          },
          {
            "id": "PostUnionWithJsonNameResponse3"
          },
          {
            "id": "RestJsonEndpointTrait"
          },
          {
            "id": "RestJsonTestBodyStructure"
          },
          {
            "id": "RestJsonTestPayloadStructure"
          },
          {
            "id": "RestJsonEndpointTraitWithHostLabel"
          },
          {
            "id": "RestJsonHttpWithEmptyBody"
          },
          {
            "id": "RestJsonNoInputAndOutputAllowsAccept"
          },
          {
            "id": "RestJsonEmptyInputAndEmptyOutputWithJson"
          },
          {
            "id": "RestJsonUnitInputAllowsAccept"
          },
          {
            "id": "RestJsonNoInputAllowsAccept"
          },
          {
            "id": "RestJsonHttpRequestWithLabelsAndTimestampFormat"
          },
          {
            "id": "RestJsonHttpRequestLabelEscaping"
          },
          {
            "id": "RestJsonInputWithHeadersAndAllParams"
          },
          {
            "id": "RestJsonServersAcceptStaticQueryParamAsEmptyString"
          },
          {
            "id": "RestJsonHttpPayloadWithStructure"
          },
          {
            "id": "RestJsonServersDontSerializeNullStructureValues"
          },
          {
            "id": "RestJsonHttpWithNoModeledBody"
          },
          {
            "id": "RestJsonHttpWithHeaderMemberNoModeledBody"
          },
          {
            "id": "RestJsonHttpResponseCodeWithNoPayload"
          },
          {
            "id": "RestJsonHttpResponseCode"
          },
          {
            "id": "RestJsonEmptyComplexErrorWithNoMessage"
          },
          {
            "id": "RestJsonInvalidGreetingError"
          },
          {
            "id": "RestJsonGreetingWithErrorsNoPayload"
          },
          {
            "id": "RestJsonGreetingWithErrors"
          },
          {
            "id": "RestJsonSerializeRenamedStructureUnionValue"
          },
          {
            "id": "RestJsonQueryIdempotencyTokenAutoFillIsSet"
          },
          {
            "id": "RestJsonSerializeBlobUnionValue"
          },
          {
            "id": "JsonUnions"
          },
          {
            "id": "RestJsonSerializeTimestampUnionValue"
          },
          {
            "id": "RestJsonDeserializeBlobUnionValue"
          },
          {
            "id": "RestJsonDeserializeTimestampUnionValue"
          },
          {
            "id": "RestJsonJsonTimestamps"
          },
          {
            "id": "EnumPayloadRequest"
          },
          {
            "id": "RestJsonDateTimeWithFractionalSeconds"
          },
          {
            "id": "RestJsonHttpDateWithFractionalSeconds"
          },
          {
            "id": "RestJsonHostWithPath"
          },
          {
            "id": "RestJsonDateTimeWithNegativeOffset"
          },
          {
            "id": "RestJsonDateTimeWithPositiveOffset"
          },
          {
            "id": "RestJsonSupportsNegativeInfinityFloatHeaderInputs"
          },
          {
            "id": "RestJsonSupportsNegativeInfinityFloatHeaderOutputs"
          },
          {
            "id": "RestJsonSupportsNegativeInfinityFloatLabels"
          },
          {
            "id": "RestJsonJsonBlobs"
          },
          {
            "id": "RestJsonComplexErrorWithNoMessage"
          },
          {
            "id": "RestJsonListsSerializeNull"
          },
          {
            "id": "RestJsonSerializesNullMapValues"
          },
          {
            "id": "RestJsonSerializesSparseSetMapAndRetainsNull"
          },
          {
            "id": "RestJsonDeserializesSparseSetMapAndRetainsNull"
          },
          {
            "id": "RestJsonDeserializesNullMapValues"
          },
          {
            "id": "RestJsonInputAndOutputWith*Headers"
          },
          {
            "id": "RestJsonHttpResponseCodeDefaultsToModeledCode"
          }
        ],
        "disallowList": [
          {
            "id": "RestJsonHttpPayloadTraitsWithNoBlobBody",
            "why": "Blobs are expected to be serialised as Base64 json strings in SimpleRestJson"
          },
          {
            "id": "RestJsonHttpPayloadTraitsWithBlob",
            "why": "SimpleRestJson forces the presence of a payload when there should be one"
          },
          {
            "id": "RestJsonStreamingTraits**",
            "why": "Streaming is not supported in simpleRestJson"
          },
          {
            "id": "StringPayload**",
            "why": "Only json payloads are supported in simpleRestJson"
          },
          {
            "id": "EnumPayload**",
            "why": "Only json payloads are supported in simpleRestJson"
          },
          {
            "id": "RestJsonHttpWithEmptyBlobPayload",
            "why": "Only json payloads are supported in simpleRestJson"
          },
          {
            "id": "RestJsonSupports*Infinity**",
            "why": "Infinity parsing not supported for performance reason"
          },
          {
            "id": "RestJsonSupportsNaN**",
            "why": "Not-a-number parsing not supported for performance reason"
          },
          {
            "id": "RestJsonInputAndOutputWith*Headers",
            "why": "Impossible comparison between result and expectations: https://github.com/awslabs/smithy/pull/1798"
          },
          {
            "id": "RestJsonInputAndOutputWithTimestampHeaders",
            "why": "http-date headers aren't quoted: https://github.com/awslabs/smithy/pull/1798"
          },
          {
            "id": "TimestampFormatHeaders",
            "why": "http-date headers aren't quoted: https://github.com/awslabs/smithy/pull/1798"
          },
          {
            "id": "RestJsonTimestampFormatHeaders",
            "why": "http-date headers aren't quoted: https://github.com/awslabs/smithy/pull/1798",
            "appliesTo": "server",
            "testType": "request"
          },
          {
            "id": "RestJsonTimestampFormatHeaders",
            "why": "http-date headers aren't quoted: https://github.com/awslabs/smithy/pull/1798",
            "appliesTo": "client",
            "testType": "response"
          },
          {
            "id": "RestJsonOmitsEmptyListQueryValues",
            "why": "Absence of value and empty array are not the same things",
            "appliesTo": "server",
            "testType": "request"
          },
          {
            "id": "RestJsonTestPayloadBlob",
            "why": "Custom media types aren't supported in simpleRestJson"
          },
          {
            "id": "RestJsonHttpPayloadTraitsWithBlobAcceptsAllContentTypes",
            "why": "Custom media types aren't supported in simpleRestJson"
          },
          {
            "id": "RestJsonHttpPayloadTraitsWithBlobAcceptsAllAccepts",
            "why": "Custom media types aren't supported in simpleRestJson"
          },
          {
            "id": "RestJsonHttpPayloadTraitsWithMediaTypeWithBlob",
            "why": "Custom media types aren't supported in simpleRestJson"
          }
        ]
      }
    }
  }
}
