name: Continuous Integration

on:
  pull_request:
    branches: ["*"]
  push:
    branches: ["main"]
    tags: ["v*"]

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout current branch (full)
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Java
        uses: actions/setup-java@v2
        with:
            distribution: adopt
            java-version: 11

      - name: Check formatting
        run: ./mill -k --disable-ticker __.checkFormat
      
      - name: Check headers
        run: ./mill -k --disable-ticker __.headerCheck

      - name: Compile
        run: ./mill -k --disable-ticker __.compile

      - name: Run tests
        run: ./mill -k --disable-ticker __.test

      - name: Publish ${{ github.ref }}
        if: startsWith(github.ref, 'refs/tags/v')
        run: ./mill -i io.kipp.mill.ci.release.ReleaseModule/publishAll
        env:
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
          SONATYPE_PASSWORD: ${{ secrets.S01_SONATYPE_PASSWORD }}
          SONATYPE_USERNAME: ${{ secrets.S01_SONATYPE_USERNAME }}
