name: Continuous Integration

on:
  pull_request:
    branches: ["*"]
  push:
    branches: ["main"]
    tags: ["v*"]

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  build:
    name: Build and Test
    runs-on: self-hosted
    container:
      image: bitnami/git
    steps:
      - name: Checkout current branch (full)
        uses: actions/checkout@v2

      - name: Setup Java
        uses: actions/setup-java@v2
        with:
            distribution: adopt
            java-version: 11

      - name: Setup Mill
        uses: jodersky/setup-mill@master
        with:
          mill-version: 0.10.5

      - name: Check formatting
        run: mill -k --disable-ticker __.checkFormat

      - name: Compile
        run: mill -k --disable-ticker __.compile

      - name: Run tests
        run: mill -k --disable-ticker __.test

      - name: Publish ${{ github.ref }}
        if: startsWith(github.ref, 'refs/tags/v')
        run: |
          echo $PGP_SECRET | base64 --decode | gpg --import --no-tty --batch --yes
          mill -k --disable-ticker mill.scalalib.PublishModule/publishAll \
            __.publishArtifacts \
            $SONATYPE_USERNAME:$SONATYPE_PASSWORD \
            --gpgArgs --passphrase=$PGP_PASSPHRASE,--batch,--yes,-a,-b \
            --release true
        env:
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
